.accordion-button {
    font-size: 1.2rem !important;
    color: #fff !important;
    background-color: #2f5445 !important;
}

.accordion-button::after {
    color: #fff !important;
    background-color: #fff !important;
    border-radius: 50% !important;
    
}